@font-face {
  font-family: "vbbIcons";
  src: url('../fonts/vbbIcons.eot');
  src: url('../fonts/vbbIcons.eot?#iefix') format('eot'),
  url('../fonts/vbbIcons.woff2') format('woff2'),
  url('../fonts/vbbIcons.woff') format('woff'),
  url('../fonts/vbbIcons.ttf') format('truetype'),
  url('../fonts/vbbIcons.svg#vbbIcons') format('svg');
}

@mixin icon-styles {
  font-family: "vbbIcons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%icon {
  @include icon-styles;
}

@function icon-char($filename) {
  $char: "";

  @if $filename == arrow-down {
  $char: "\E001";
}
  @if $filename == arrow-duble-left {
  $char: "\E002";
}
  @if $filename == arrow-duble-right {
  $char: "\E003";
}
  @if $filename == arrow-left {
  $char: "\E004";
}
  @if $filename == arrow-right {
  $char: "\E005";
}
  @if $filename == arrow {
  $char: "\E006";
}
  @if $filename == clock {
  $char: "\E007";
}
  @if $filename == earth {
  $char: "\E008";
}
  @if $filename == fb {
  $char: "\E009";
}
  @if $filename == gift {
  $char: "\E00A";
}
  @if $filename == ico-actions {
  $char: "\E00B";
}
  @if $filename == ico-check {
  $char: "\E00C";
}
  @if $filename == ico-close {
  $char: "\E00D";
}
  @if $filename == ico-currency {
  $char: "\E00E";
}
  @if $filename == ico-delete {
  $char: "\E00F";
}
  @if $filename == ico-location {
  $char: "\E010";
}
  @if $filename == ico-planet {
  $char: "\E011";
}
  @if $filename == ico-search {
  $char: "\E012";
}
  @if $filename == ico-success {
  $char: "\E013";
}
  @if $filename == ico-user {
  $char: "\E014";
}
  @if $filename == inst {
  $char: "\E015";
}
  @if $filename == marker-active {
  $char: "\E016";
}
  @if $filename == marker {
  $char: "\E017";
}
  @if $filename == pin {
  $char: "\E018";
}
  @if $filename == search {
  $char: "\E019";
}
  @if $filename == star-card {
  $char: "\E01A";
}
  @if $filename == star {
  $char: "\E01B";
}
  @if $filename == value {
  $char: "\E01C";
}
  @if $filename == vk {
  $char: "\E01D";
}

@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
&:#{$insert} {
  @if $extend {
    @extend %icon;
  } @else {
    @include icon-styles;
  }
  content: icon-char($filename);
  vertical-align: middle;
}
}

.icon-arrow-down {
  @include icon(arrow-down);
}
.icon-arrow-duble-left {
  @include icon(arrow-duble-left);
}
.icon-arrow-duble-right {
  @include icon(arrow-duble-right);
}
.icon-arrow-left {
  @include icon(arrow-left);
}
.icon-arrow-right {
  @include icon(arrow-right);
}
.icon-arrow {
  @include icon(arrow);
}
.icon-clock {
  @include icon(clock);
}
.icon-earth {
  @include icon(earth);
}
.icon-fb {
  @include icon(fb);
}
.icon-gift {
  @include icon(gift);
}
.icon-ico-actions {
  @include icon(ico-actions);
}
.icon-ico-check {
  @include icon(ico-check);
}
.icon-ico-close {
  @include icon(ico-close);
}
.icon-ico-currency {
  @include icon(ico-currency);
}
.icon-ico-delete {
  @include icon(ico-delete);
}
.icon-ico-location {
  @include icon(ico-location);
}
.icon-ico-planet {
  @include icon(ico-planet);
}
.icon-ico-search {
  @include icon(ico-search);
}
.icon-ico-success {
  @include icon(ico-success);
}
.icon-ico-user {
  @include icon(ico-user);
}
.icon-inst {
  @include icon(inst);
}
.icon-marker-active {
  @include icon(marker-active);
}
.icon-marker {
  @include icon(marker);
}
.icon-pin {
  @include icon(pin);
}
.icon-search {
  @include icon(search);
}
.icon-star-card {
  @include icon(star-card);
}
.icon-star {
  @include icon(star);
}
.icon-value {
  @include icon(value);
}
.icon-vk {
  @include icon(vk);
}