.btn {
  font-size: 16px;
  color: black;
  outline: transparent;
  &:focus {
    color: black;
    outline: transparent;
    box-shadow: none;
  }
  &._btn-outline {
    background: $white;
    border: 1px solid $base;
    border-radius: 5px;

    .fa-ruble-sign { // FIXME: dfs
      color: $accent;
    }

    &:hover {
      background: $base;
      color: $white;
    }
  }

  &._btn-close {
    background: $accent;
    color: $white;
    border: 1px solid transparent;
    border-radius: 5px;

    &:hover {
      background: $base;
      color: $white;
    }
  }
}