@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import "constans.scss";
@import "mixin.scss";
@import "btn.scss";
@import "form.scss";
@import "scroll.scss";
@import "vue-toastification.scss";

html {
  font-size: 10px;
  color: white;
  height: 100%;
  @include tablet {
    font-size: 12px;
  }
}
body, #app {
  height: 100%;
}

._flex-wrap {
  display: flex;
  flex-direction: column;
  //height: 100%;
  min-height: 100%;
  main {
    flex-grow: 1;
  }
}
.container {
  padding: 0 15px !important;
}



