@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import "constans.scss";
@import "mixin.scss";
@import "btn.scss";
@import "form.scss";
@import "scroll.scss";
@import "vue-toastification.scss";

html {
  font-size: 10px;
  color: white;
  @include tablet {
    font-size: 12px;
  }
}

.container {
  padding: 0 15px !important;
}



